<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>비트캠프 5기</title>
</head>
<div data-th-replace="header :: header"></div>
<body>
<h1>회원</h1>

<form data-th-action='@{update}' data-th-object="${member}" method='post' enctype='multipart/form-data'>
    <div>
        사진:
            <a data-th-if="*{photo}" data-th-href="@{'https://kr.object.ncloudstorage.com/bitcamp-devops5-39/member/'+*{photo}}">
                <img data-th-src="@{'https://2bs2caof2683.edge.naverncp.com/skwzRdytI1/member/' + *{photo}(type=f,w=80,h=80,ttype=jpg)}"/>
            </a><br>
            <a data-th-unless="*{photo}" data-th-href='@{/img/default-photo.png}'>
                <img data-th-src='@{/img/default-photo.png}' height='80px'>
            </a><br>
        <input type='file' name='file'>
    </div>
    <div>
        번호:
        <input readonly type='text' name='no' data-th-value='*{no}'>
    </div>
    <div>
        이름: <input type='text' name='name' data-th-value='*{name}'>
    </div>
    <div>
        이메일: <input type='text' name='email' data-th-value='*{email}'>
    </div>
    <div>
        비밀번호: <input type='password' name='password'>
    </div>
    <div>
        <div>
            가입일: <input readonly type='text' data-th-value="${#dates.format(member.createdDate,'yyyy-MM-dd')}">
        </div>
    </div>
    <div>
        <button>변경</button>
        <a data-th-href='@{delete(no=*{no})}'>삭제</a>
    </div>
</form>

</body>
<div data-th-replace="footer :: footer"></div>
</html>
