<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta data-th-if="${session.loginUser != null}" http-equiv="Refresh" content="1;url=/index.html">
    <meta data-th-if="${session.loginUser == null}" http-equiv="Refresh" content="1;url=/auth/form">
    <title>비트캠프 5기</title>
</head>
<div data-th-replace="header :: header"></div>
<body>
<h1>로그인</h1>

<p data-th-if="${session.loginUser != null}">[[${session.loginUser.name}]] 님 환영합니다.</p>
<p data-th-if="${session.loginUser == null}"> 이메일 또는 암호가 맞지 않습니다.</p>

</body>
<div data-th-replace="footer :: footer"></div>
</html>
