<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AttachedFileDao">

    <resultMap id="AttachedFileMap" type="AttachedFile">
        <id column="file_no" property="no"/>
        <result column="file_path" property="filePath"/>
        <result column="board_no" property="boardNo"/>
    </resultMap>

    <insert id="add" parameterType="AttachedFile">
        insert into board_files(file_path, board_no) values (#{filePath}, #{boardNo})
    </insert>

    <insert id="addAll" parameterType="java.util.List">
        insert into board_files(file_path, board_no) values
        <foreach item="item" index="index" collection="list" separator=",">
            (
                #{item.filePath},
                #{item.boardNo}
            )
        </foreach>
    </insert>

    <delete id="delete" parameterType="int">
        delete from board_files where file_no= #{value}
    </delete>

    <delete id="deleteAll" parameterType="int">
        delete from board_files where board_no= #{value}
    </delete>

    <select id="findAllByBoardNo" resultMap="AttachedFileMap" parameterType="int">
        select
            file_no,
            file_path,
            board_no
        from board_files
        where board_no = #{value}
        order by file_no
    </select>

    <select id="findByNo" resultMap="AttachedFileMap" parameterType="int">
        select
            file_no,
            file_path,
            board_no
        from board_files
        where file_no = #{value}
    </select>

    <update id="update" parameterType="java.util.List">
        <foreach collection="list" item="item">
            update board_files set
                file_path= #{item.filePath}
            where board_no= #{item.boarNo}
                and file_no= #{item.no}
        </foreach>
    </update>



</mapper>
